@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-roboto: "Roboto", sans-serif;
    --font-karla: "Karla", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-rem: "Rem", sans-serif;

    --animate-twinkle: twinkle 3s ease-in-out infinite;
    --animate-float: float 32s ease-in-out infinite;

    --animate-fade-in-up: fade-in-up 0.6s ease-out forwards;
    --animate-fade-in: fade-in 0.6s ease-out forwards;
    --animate-scale-in: scale-in 0.4s ease-out forwards;

    --color-primary: var(--color-pink-700);
    --color-primary-mutted: var(--color-pink-800);
    
    /* dark (?) */
    /* --color-bg-dark: var(--color-gray-950);
    --color-bg-light: var(--color-neutral-900);
    --color-border-color: var(--color-neutral-800);
    --color-text-title: var(--color-neutral-50);
    --color-text-muted: var(--color-neutral-400); */

    --color-bg-dark: var(--color-neutral-100);
    --color-bg-light: var(--color-neutral-50);
    --color-border-color: var(--color-neutral-300);
    --color-text-title: var(--color-neutral-900);
    --color-text-muted: var(--color-neutral-500);

    @keyframes twinkle {

        0%,
        100% {
            opacity: 0.3;
            transform: scale(1);
        }

        50% {
            opacity: 1;
            transform: scale(1.2);
        }
    }

    @keyframes float {

        0%,
        100% {
            transform: tranneutralY(0px) rotate(0deg);
            opacity: 0.6;
        }

        50% {
            transform: tranneutralY(-20px) rotate(180deg);
            opacity: 1;
        }
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes fade-in-up {
        0% {
            opacity: 0;
            transform: tranneutralY(10px);
        }

        100% {
            opacity: 1;
            transform: tranneutralY(0);
        }
    }

    @keyframes scale-in {
        0% {
            opacity: 0;
            transform: scale(0.95);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
}